/* Ejercicio de las tablas */

/* body{
    font-family: sans-serif;
}

table, th, td{
    border: 1px solid black;
}
table{
    margin-bottom: 1rem;
}

table:nth-of-type(1){
    border-collapse: separate;
    border-spacing: 0.25rem 0.5rem; */
    /* empty-cells: hide; */
    /* table-layout: fixed;
    width: 100%;
}

td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table:nth-of-type(1) caption{
    font-weight: 600;
}

table:nth-of-type(2){
    border-collapse: collapse;
}

table:nth-of-type(2) caption{
    caption-side: bottom;
    font-size: 0.5rem;
} */

/* Representacion de una tabal con div's y estilos*/
/* 
.table{
    display: table;
    border :1px solid black; 
}

.thead{
    display: table-header-group;
}

.tfood{
    display: table-footer-group;
}

.tr{
    display: table-row;
}

.td{
    display: table-cell;
}

.caption{
    display: table-caption;
} */

/* 
body{
    font-family: sans-serif;
}

table{
    border-collapse: collapse;
    table-layout: fixed;
    empty-cells: hide;
    width: 100%;
}

tr:not(.tr-head):hover{
    background: #eee;
}

td:hover, 
th:not(.th-head):hover{
    background: #ccc;
}

thead tr{
    color: white;
    background: royalblue;
}

thead th{
    border: none;
}

th{
    text-align: left;
}

td{
    text-align: right;
} */

/* Apariencia de inputs */

/* input[type="text"]{ */
    /* background: red; */
    /* -moz-appearance: checkbox;
} */

/* input[type="checkbox"]{ */
    /* background: red; */
    /* display: none; */
    /* -moz-appearance: none;
}

input[type="checkbox"]::before{ */
    /* content: 'Hola mundo!'; */
    /* content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    background: blue;
}

input[type="checkbox"]:checked + label{
    background: red;
}

textarea{ */
    /* resize: vertical; */
    /* resize: horizontal;
}

p{
    resize: both;
    overflow: scroll;
    outline: 1px solid black;
} */

/* input:focus{ */
    /* background: red; */
/* }

form{
    padding: 1rem;
}

form:focus-within + .container{
    background: yellow;
} */
/* 
.container{
    width: 50px;
    height: 50px;
    background: red;
} */
/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container{
    position: relative;
}

.container:focus-within label, 
input:not(:placeholder-shown) + label{
    display: none;
}

.container label{
    position: absolute;
    left: 0.25rem;
    opacity: 0.5;
}

label{
    color: #ccc;
} */

/* input:required + label::before{ */
    /* background: yellow; */
    /* content: '*';
    color: red;
}

input:optional + label::after{
    content: '(opcional)';
}

input:read-only{
    background: steelblue;
}

input:disabled{
    background: black;
}

input:enabled{
    background: blue;
} */

/* input:read-write{
    background: red;
} */

/* input:valid{
    color: white;
    background: red;
}

input:invalid{
    background: red;
}

input::placeholder{
    color: red;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 1rem;
    opacity: 1;
    background-color: blue;
} */

/* Ejercicio del formulario */

/* fieldset:valid{
    background: red;
} */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color: #665F87
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: var(--color);
    font-family: sans-serif;
}

form{
    display: flex;
    max-width: 400px;
    flex-direction: column;
    gap: 1rem;
    background: white;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

h2{
    color: var(--color);
    margin-bottom: 0;
}
fieldset{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    border: none;
}
fieldset:focus-within legend{
    color: var(--color);
}
legend{
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.container{
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    flex-grow: 1;
}

.container label{
    margin-bottom: 0.25rem;
    order: -1;
}

.container input{
    border: 1px solid #ddd;
    border-radius: 0.1rem;
    padding: 0.25rem 0.5rem;
}
.container input:focus + label{
    color: var(--color);
}

input[type="submit"]{
    color: white;
    background: var(--color);
    border: none;
    padding: 0.35rem;
}

.sub {
    display: flex;
    gap: 1rem;
    flex-grow: 1;
    flex-basis: 40%;
}